@use "./../../main.scss" as main;

.sidebar {
  background-color: white;
  width: calc(20vw - main.$border-size);
  max-width: calc(main.$side-max-width - main.$border-size);
  min-width: calc(main.$side-min-width - main.$border-size);
  height: 100vh;
  position: fixed;

  border-width: 0 main.$border-size 0 0;
  border-color: main.$border-line-color;
  border-style: solid;
}
