@use "./../../../main.scss" as main;

.admin-component {
  padding: 2rem;

  &__inner {
    background-color: rgba(255, 255, 255, 0.5);
    border: main.$border-size solid main.$border-line-color;
    padding: 1rem 1.5rem;
    border-radius: 10px;

    h2 {
      margin: 0;
    }

    &__contents {
      margin-bottom: 10rem;
      margin-top: 2rem;

      a {
        width: calc(100% - 2 * 2rem - 2 * main.$border-size);
        padding: 1.125rem 2rem;
        min-width: 200px;
        margin-bottom: 1.5rem;
        text-decoration: none;

        background-color: transparent;
        border-radius: 5px;
        border: solid main.$border-size main.$main-bgcolor;
        color: main.$main-bgcolor;
        font-size: 1.4rem;

        display: flex;
        align-items: center;
        justify-content: left;

        img {
          width: 30px;
          height: 30px;
          margin-right: 1.5rem;
        }

        &:hover {
          opacity: 0.75;
        }
      }
    }

    .logout {
      width: calc(100% - 2 * 2rem);
      color: white;
      background-color: #ff3e49;
      font-size: 1.2rem;
      border-radius: 5px;
      padding: 0.75rem 2rem;
      border: none;
      text-decoration: none;

      display: flex;
      align-items: center;
      justify-content: center;

      letter-spacing: 0.5rem;

      img {
        width: 30px;
        height: 30px;
        margin-right: 0.75rem;
      }

      &:hover {
        opacity: 0.75;
      }
    }

    button {
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}
