$main-bgcolor: #4caf50;
$main-font-color: #ffffff;
$base-bgcolor: #f2f2f2;
$base-font-color: #646464;

$border-size: 1.5px;
$border-line-color: #afafaf;

$side-max-width: 300px;
$side-min-width: 250px;

body {
  margin: 0;
  background-color: $base-bgcolor;
}

ul {
  list-style: none;
}

#root {
  margin: 0 auto;
}

.contents {
  padding: 5rem 0 0
    clamp(
      calc($side-min-width - $border-size),
      20vw,
      calc($side-max-width - $border-size)
    );
  z-index: 10;
}
