@use "./components/SidebarComponents/Sidebar" as sidebar;

$main-bgcolor: #4CAF50;
$base-bgcolor: #f2f2f2;

body {
  margin: 0;
  background-color: $base-bgcolor;
}

#root {
  margin: 0 auto;
}

.contents {
  padding: 5rem 2.5% 10% clamp(calc(sidebar.$side-min-width - sidebar.$border-size), 20vw, calc(sidebar.$side-max-width - sidebar.$border-size));
  z-index: 10;
}
