@use "./../../../main.scss" as main;

.image-box {
  width: 23%;
  max-width: calc(280px);
  min-width: calc(180px);
  height: auto;
  margin-bottom: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &__img {
    $img-padding: 1.25rem;

    width: calc(100% - 2 * $img-padding - 2 * main.$border-size);
    height: 220px;
    background-color: white;
    border: main.$border-size solid main.$border-line-color;
    border-radius: 10px;
    padding: $img-padding;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 0.5rem 0;

    h3 {
      margin: 0;
      font-weight: normal;
      font-size: 14px;
      color: main.$base-font-color;
      display: flex;
      align-items: center;
    }
    img {
      $image-size: 25px;

      width: $image-size;
      height: $image-size;
      display: block;
      margin: auto 0;
      cursor: pointer;
    }
  }
}
