@use "../../../main.scss" as main;
@use "../../Sidebar/UserSidebar/Sidebar.scss" as sidebar;

.header-menu {
  padding: 4rem 2rem 2rem 2rem;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 99;
  overflow-y: auto;

  &__inner {
    &__favorite {
      text-decoration: none;
      display: block;
      font-size: 1.2rem;
      font-weight: bold;
      color: main.$base-font-color;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      padding: 0.5rem 0.5rem 0.5rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 15px;

      &:hover {
        background-color: sidebar.$type-btn-bgcolor;
      }

      .arrow-right {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        position: relative;
        width: 0.75rem;
        height: 0.75rem;
        transform: translateX(0) rotate(45deg);

        &::before,
        &::after {
          content: "";
          position: absolute;
          background: currentColor;
          border-radius: 0.1em;
        }

        &::before {
          top: 0;
          left: 0;
          right: 0;
          height: 0.1em;
        }

        &::after {
          top: 0;
          right: 0;
          bottom: 0;
          width: 0.1em;
        }
      }
    }
  }

  @media screen and (max-width: 880px) {
    display: block;
  }
}
