@use "./../../../main.scss" as main;

.home {
  width: calc(100% - 2 * 2%);
  max-width: 1200px;
  margin: auto;
  padding: 2.5% 2%;

  &__image-list {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;

    &::after,
    &::before {
      content: "";
      display: block;
      width: calc(23% + 2 * 0.5rem);
      max-width: 280px;
      min-width: 180px;
    }

    &::before {
      order: 1;
    }
  }
}
