@use "./../../../main.scss" as main;

.home {
  width: calc(100% - 2 * 2%);
  max-width: 1200px;
  margin: auto;
  padding: 5% 2%;

  &__image-list {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;

    li {
      width: 23%;
      max-width: 280px;
      min-width: 180px;
      height: auto;
      margin-bottom: 4rem;
    }

    &::after,
    &::before {
      content: "";
      display: block;
      width: 23%;
    }

    &::before {
      order: 1;
    }

    &__img {
      $img-padding: 2%;

      width: calc(100% - 2 * $img-padding - 2 * main.$border-size);
      max-height: 280px;
      background-color: white;
      border: main.$border-size solid main.$border-line-color;
      border-radius: 10px;
      padding: $img-padding;

      img {
        width: calc(100% - 2 * 5%);
        height: auto;
        padding: 5%;
        object-fit: cover;
        vertical-align: bottom;
      }
    }

    &__title {
      display: flex;
      justify-content: space-between;
      margin: 0.5rem 0;

      h3 {
        margin: 0;
        font-weight: normal;
        color: main.$base-font-color;
      }
      img {
        $image-size: 25px;

        width: $image-size;
        height: $image-size;
        display: block;
        margin: auto 0;
        cursor: pointer;
      }
    }
  }
}
