@use "./../../../main.scss" as main;

$padding-x: 0.5rem;
$padding-search-box-x: 1.5rem;
$padding-search-box-y: 0.45rem;

$search-border-radius: 0px;

.search-form.home {
  width: calc(100% - 2 * $padding-x);
  background-color: transparent;
  height: 40px;
  margin-top: 1rem;
  display: none;

  input {
    font-size: 1.25rem;
    padding: $padding-search-box-y $padding-search-box-x;
    width: calc(100% - 2 * $padding-search-box-x - 2 * main.$border-size);

    background-color: white;
    border-radius: 20px 0 0 20px;
    border-right: none;
    border: 2px solid transparent;
    box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.1);
  }

  &:focus {
    border: 2px solid black;
    outline: none;
  }

  &::placeholder {
    font-size: 16px;
  }

  .search-button {
    display: inline-block;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 0 20px 20px 0;
    border: none;
    box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.1);

    img {
      width: auto;
      height: 100%;
      max-height: 25px;
      margin-right: 0.5rem;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 880px) {
    display: flex;
  }
}
