@use "./../../../main.scss" as main;

.admin-component {
  &__title {
    display: flex;
    justify-content: space-between;

    .add-button {
      background-color: main.$main-bgcolor;
      color: main.$main-font-color;
      padding: 0 1rem;
    }
  }

  &__image-list {
    padding: 0;
    width: 100%;
  }
}
