@use "./../../../main.scss" as main;

$padding-x: 1rem;

$type-btn-font-color: #646464;
$type-btn-line-color: #afafaf;
$type-btn-bgcolor: #f4f4f4;
$type-btn-bgcolor-hover: #dfdfdf;
$type-btn-padding-x: 0.5rem;
$type-btn-padding-y: 0.25rem;
$type-btn-line-size: 1.25px;

$category-btn-padding-x: 0.75rem;
$category-btn-padding-y: 0.35rem;
$category-btn-bgcolor: white;
$category-btn-bgcolor-hover: #f0f0f0;

.sidebar {
  background-color: white;
  width: calc(20vw - main.$border-size);
  min-width: calc(main.$side-min-width - main.$border-size);
  max-width: calc(main.$side-max-width - main.$border-size);
  height: 100vh;
  overflow: auto;
  position: fixed;

  border-width: 0 main.$border-size 0 0;
  border-color: main.$border-line-color;
  border-style: solid;

  &__inner {
    width: calc(100% - 2 * $padding-x);
    padding-top: main.$header-height;
    padding-left: $padding-x;
    padding-right: $padding-x;

    &__type {
      margin-bottom: 3rem;

      h3 {
        margin-bottom: 0.5rem;
      }
    }

    &__category {
      padding-bottom: 50px;

      h3 {
        margin-bottom: 0.5rem;
      }
    }
  }
}

%btn-style {
  color: $type-btn-font-color;
  margin-bottom: 0.5rem;
  border-radius: 15px;
  text-decoration: none;

  cursor: pointer;
  color: $type-btn-font-color;

  transition: all 0.3s;
}

.type-link {
  @extend %btn-style;
  font-size: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: calc(100% - 2 * $type-btn-padding-x - 2 * $type-btn-line-size);
  border: $type-btn-line-size solid $type-btn-line-color;
  padding: $type-btn-padding-y $type-btn-padding-x;

  background-color: $type-btn-bgcolor;

  div {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
  }

  img {
    width: 100%;
    height: auto;
  }

  &:hover {
    background-color: $type-btn-bgcolor-hover;
  }
}

.category-link {
  @extend %btn-style;
  font-size: 0.85rem;

  display: inline-block;
  padding: $category-btn-padding-y $category-btn-padding-x;
  margin-right: 0.5rem;

  background-color: $category-btn-bgcolor;
  border: $type-btn-line-size solid $type-btn-line-color;

  &:hover {
    background-color: $category-btn-bgcolor-hover;
  }
}
