@use "./../../../../main.scss" as main;
@use "./../../../Sidebar/UserSidebar/Sidebar.scss" as sidebar;

.modal-image__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
}

.modal-image__content {
  position: relative;
  display: flex;
  width: 70%;
  max-width: calc(900px - 2 * 2rem);
  min-width: calc(800px - 2 * 2rem);
  height: calc(500px - 2 * 2rem);
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 3px 8px 5px 0px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  cursor: default;

  &.user-modal {
    max-height: calc(430px - 2 * 2rem);
  }

  .cancel {
    position: absolute;
    border: none;
    cursor: pointer;
    top: 8px;
    right: 8px;
    background-color: transparent;
    width: 30px;
    height: 30px;

    img {
      width: 100%;
      height: auto;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  &__img {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;

    &.user-modal {
      align-items: center;
    }

    .img {
      background-color: #e5e5e5;
      border-radius: 10px;
      padding: 1rem;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &.default {
      height: 100%;

      div {
        width: calc(100% - 2 * 1rem);
        height: 65%;
        background-color: #e5e5e5;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-bottom: 1rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  &__desc {
    width: 65%;
    height: 100%;
    padding-left: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    .title {
      margin-bottom: 0.75rem;
      display: flex;
      align-items: center;

      h2 {
        margin-top: 0;
        margin-bottom: 0;

        a {
          color: main.$base-font-color;
          text-decoration-color: main.$base-font-color;
        }
      }

      img {
        width: 22.5px;
        height: 22.5px;
        margin-left: 1rem;
        cursor: pointer;
      }
    }

    .category,
    .type,
    .image {
      h3 {
        margin-top: 0;
        margin-bottom: 0.25rem;
        font-size: 1rem;
      }
    }

    .type {
      margin-bottom: 1rem;

      .type-link-modal {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        border: sidebar.$type-btn-line-size solid sidebar.$type-btn-line-color;
        padding: sidebar.$type-btn-padding-y sidebar.$type-btn-padding-x;

        background-color: sidebar.$type-btn-bgcolor;
        border-radius: 15px;
        color: sidebar.$type-btn-font-color;

        transition: all 0.3s;

        img {
          width: 20px;
          height: 20px;
          padding-right: 0.5rem;
        }

        &:hover {
          background-color: sidebar.$type-btn-bgcolor-hover;
        }
      }
    }

    .category {
      margin-bottom: 1rem;
    }

    &__button {
      display: flex;
      justify-content: end;

      .download,
      .copy {
        padding: 0.5rem 1.25rem;
        font-size: 1.075rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          opacity: 0.6;
        }
      }

      .download {
        background-color: main.$main-bgcolor;
        color: main.$main-font-color;

        img {
          width: 25px;
          height: 25px;
          margin-right: 0.25rem;
        }
      }

      .copy {
        margin-left: 0.5rem;
        color: main.$base-font-color;
        border: sidebar.$type-btn-line-size solid sidebar.$type-btn-line-color;

        img {
          width: 20px;
          height: 20px;
          margin-right: 0.25rem;
        }
      }

      .download-copy-text {
        display: none;
      }
    }
  }

  @media screen and (max-width: 880px) {
    &.user-modal {
      display: block;
      width: 80%;
      max-width: calc(600px - 2 * 1.5rem);
      min-width: calc(300px - 2 * 1.5rem);
      height: calc(600px - 2 * 1.5rem);
      background-color: white;
      padding: 1.5rem;
      box-shadow: 3px 8px 5px 0px rgba(0, 0, 0, 0.1);
      max-height: calc(600px - 2 * 1.5rem);
    }

    .cancel.user-modal {
      top: 4px;
      right: 4px;
      width: 30px;
      height: 30px;
    }

    &__img {
      &.user-modal {
        width: 100%;
        height: 30%;
        display: block;
        margin: 0.25rem auto 0 auto;

        .img {
          padding: 1rem;
          width: calc(100% - 2 * 1rem);
          height: calc(100% - 2 * 1rem);
        }
      }
    }

    &__desc {
      &.user-modal {
        width: calc(100%);
        height: calc(70%);
        padding-left: 0rem;

        .title {
          margin-bottom: 0.5rem;
          margin-top: 0.5rem;

          h2 {
            margin-left: 0;
            font-size: 1rem;
          }

          img {
            width: 20px;
            height: 20px;
            margin-left: 0.5rem;
          }
        }

        .category,
        .type,
        .image {
          h3 {
            font-size: 0.75rem;
          }
        }

        .type {
          margin-bottom: 0.5rem;

          .type-link-modal {
            font-size: 0.75rem;

            img {
              width: 15px;
              height: 15px;
              padding-right: 0.5rem;
            }
          }
        }

        .category {
          margin-bottom: 0.5rem;
        }
      }

      &__button {
        &.user-modal {
          .download,
          .copy {
            padding: 0.25rem 1rem;
            font-size: 1rem;
          }

          .download {
            img {
              width: 22px;
              height: 22px;
            }
          }

          .copy {
            img {
              width: 16px;
              height: 16px;
            }
          }
        }
      }
    }

    @media screen and (max-width: 440px) {
      &__desc__button {
        &.user-modal {
          .download,
          .copy {
            display: none;
          }
          .download-copy-text {
            display: block;
            margin: 0;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
