@use "./../../../main.scss" as main;

.order-by {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 1rem 0;

  &__btn {
    margin-left: 1.5rem;
    border: main.$border-size solid main.$border-line-color;
    cursor: pointer;
    border-radius: 5px;
    width: calc(250px - 2 * main.$border-size);
    display: flex;
    text-align: center;

    .recent,
    .popular {
      display: inline-block;
      width: calc(50% - main.$border-size);
      padding: 0.5rem 1.75rem;
    }

    .active {
      background-color: main.$main-bgcolor;
      color: main.$main-font-color;
      font-weight: bold;
    }
  }
}
