@use "./../../../main.scss" as main;

.order-by {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: right;

  &__btn {
    margin-left: 1.5rem;
    border: main.$border-size solid main.$border-line-color;
    cursor: pointer;
    border-radius: 5px;

    .recent,
    .popular {
      display: inline-block;
      padding: 0.5rem 1.75rem;
    }

    .active {
      background-color: main.$main-bgcolor;
      color: main.$main-font-color;
      font-weight: bold;
    }
  }
}
